// 게임 대기 방
.wait_game {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-weight: 700;

    #back {
        float: left;
        margin: 24px 0 0 24px;
    }

    .top {
        width: 100vw;
        display: flex;
        font-size: 20px;

        height: 24px;
        align-items: center;
        margin-top: 20px;
        justify-content: center;
    }

    .info {
        font-size: 20px;
        margin-top: 20px;
    }

    .player-list {
        margin: 24px auto;
        width: 90%;
        // height: 210px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 0.5rem;
        column-gap: 0.5rem;
        justify-items: center;
        align-self: center;
    }

    .player {
        width: 80%;
        height: 100%;
        // margin: 0 24px;

        .player-profile {
            width: 100%;
            height: 70%;

            background: #ffefbd;
            border-radius: 30px;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .profile-img {
            width: 80%;
            height: 80%;
            margin: 0;
        }

        .player-name {
            margin-top: 4px;
            width: 100%;
            // height: 20%;
        }
    }

    .ready {
        font-size: 1.2rem;
    }

    .ready-btn {
        width: 40%;
        height: 40px;

        background: #ffc000;
        box-shadow: 2px 2px 1px #000000;
        border-radius: 8px;
        border: none;

        font-size: 1.1rem;
        font-weight: 700;

        &:hover {
            background: #ffce3c;
        }
    }

    p {
        position: fixed;
        top: -10px;
        left: 16px;
        font-size: 24px;
    }

    img {
        width: 50px;
        height: 60px;
        margin-top: 80px;
        margin-right: 20px;
    }
}

// 게임방

.game_3s_back {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    font-size: 250px;
    font-weight: 700;
    color: rgba(255, 192, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.game {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 0;

    .timer {
        font-size: 4rem;
        font-weight: bold;
    }

    .game-content {
        font-size: 2rem;

        span {
            font-weight: bold;
            font-size: 2.5rem;
            text-decoration: underline;
        }
    }

    .wait_lgm {
        width: 40px;
    }

    .flip {
        transform: scaleX(-1);
        // transition: transform 0.5s ease;
        // transform: translateY(-30px);
    }
}

.game-result-back {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 1;

    .game-result {
        position: absolute;
        left: 15vw;
        top: 20vh;
        width: 70vw;
        height: 70vh;
        border-radius: 0.5rem;
        background: #fff;
        display: grid;
        grid-template-rows: 0.8fr 1.3fr 0.7fr 3fr 1.2fr;
        place-items: center;
        z-index: 10000;

        .header {
            width: 100%;
            height: 50%;
            padding-bottom: 0.75rem;
            font-size: 1.5rem;
            font-weight: bold;
            border-bottom: rgba(0, 0, 0, 0.25) 1px solid;
        }

        .name {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .time {
            font-size: 1.25rem;
            font-weight: bold;
        }

        .result-table {
            width: 80%;
            height: 100%;
            overflow: scroll;
            background: #ffefbd;
            box-sizing: border-box;
            border: 0.5rem #ffc000 solid;
            box-shadow: 2px 2px 1px #000000;
            border-radius: 0.5rem;
            font-weight: 600;

            .result {
                display: flex;
                justify-content: center;

                .number {
                    width: 40px;
                    font-size: 18px;
                }

                .name {
                    width: 60px;
                    font-size: 18px;
                    overflow-x: scroll;
                }

                .time {
                    width: 60px;
                    font-size: 18px;
                }
            }
        }

        .result-btn {
            width: 50%;
            height: 50%;

            background: #ffc000;
            box-shadow: 2px 2px 1px #000000;
            border-radius: 8px;
            border: none;
        }
    }
}