.chatting-room {
  width: 100vw;
  height: 100vh;

  .navbar {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 6vh;
  }

  .content {
    width: 100vw;
    height: 86vh;
    background: #ffbf00;
  }

  .footer {
    position: fixed;
    top: 92vh;
    width: 100vw;
    height: 8vh;

    background: #f2f2f2;
  }
}
