.add-room {
  display: grid;
  width: 100vw;
  height: 100vh;

  #back {
    position: fixed;
    top: 24px;
    left: 24px;
    width: 15px;
    height: 30px;
  }
}

.add-container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.small-logo {
  margin: 1.3rem;

  img {
    width: 52px;
    height: 31px;
  }
}

#cate {
  font-size: 34px;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffc000;
  margin: 0;
}

.add-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem;
  text-align: center;
}

.add-form {
  margin: 1rem;
}

.add-btn {
  width: 40vw;
  height: 5vh;
  margin-top: 1rem;
  background: #ffc000;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px #7c7c7c;
  font-size: 1rem;
  font-weight: bold;

  visibility: hidden;
  transition: ease-in-out 0.2s;

  &#show {
    visibility: visible;
    transition: ease-in-out 0.2s;
  }
}

.add-tip {
  margin-top: 20px;
  font-weight: 700;
  color: #f63a5d;
  margin-bottom: 0;
  font-size: 15px;
}
