.add-room {
  display: grid;
  width: 100vw;
  height: 100vh;

  #back {
    position: fixed;
    top: 24px;
    left: 24px;
  }
}

.add-container {
  width: 100vw;
  height: 100vh;
}

.small-logo {
  margin: 1.3rem;

  img {
    width: 120px;
  }
}

.add-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.5rem;
  text-align: center;
}

.add-form {
  margin: 1.5rem;
}

.add-btn {
  width: 40vw;
  height: 7vh;
  margin-top: 1.5rem;
  background: #ffc000;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 1px #7c7c7c;
  font-size: 1.25rem;
  font-weight: bold;

  visibility: hidden;
  transition: ease-in-out 0.2s;

  &#show {
    visibility: visible;
    transition: ease-in-out 0.2s;
  }
}