@font-face {
  font-family: "bingrae";
  src: url("./Fonts/Binggrae.ttf");
}

@font-face {
  font-family: "bingrae-bold";
  src: url("./Fonts/Binggrae-Bold.ttf");
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  /* overflow: auto; */
  /* position: fixed; */
  font-family: "bingrae-bold";
  overscroll-behavior: none;
}

input {
  font-family: "bingrae";
}

textarea {
  font-family: "bingrae";
}

button {
  font-family: "bingrae-bold";
  /* -webkit-overflow-scrolling: touch; 추가 */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
  position: fixed;
}

.App-link {
  color: #000;
}

button {
  appearance: none;
  color: #000;
}