html {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #666666;
  overflow: auto;
}

#root {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: #666666;
}

/* code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", */
/* monospace; */
/* } */
a {
  text-decoration: none;
}