// 컴포넌트 LogoEgg
.main_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 15px;

  #main_logo {
    margin-left: 24px;
    width: 53px;
    height: 32px;
  }

  .egg_cnt {
    margin-right: 24px;
    height: 22px;
    display: flex;
    align-items: center;
    font-weight: bolder;
  }

  #main_egg {
    margin-right: 5px;
    width: 15px;
    height: 22px;
  }
}

// page 메인 페이지
.mainpage {
  height: 100vh;
  overflow: hidden;

  .region_bar {
    border-bottom: rgba(0, 0, 0, 0.25) 1px solid;
  }
}

// 지역 부분
.main_region {
  display: flex;
  padding: 0px;
  width: 234px;
  justify-content: space-between;
  height: 22px;
  margin: 0 0 16px 24px;
  font-weight: bolder;
  color: rgba(124, 124, 124, 1);

  li {
    list-style: none;
  }

  #select {
    color: rgba(255, 192, 0, 1);
    font-weight: bolder;
    border-bottom: 1px solid rgba(255, 192, 0, 1);
    transition: 0.7s ease-in-out;
  }
}

// 메인 카테고리 부분
.main_category {
  height: calc(100vh - 150px);
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: start;

  #category_title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    margin: 16px 0 0px 24px;
    margin-left: 24px;

    span {
      font-size: 12px;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0em;
      float: right;
      margin-right: 20px;
      color: rgba(124, 124, 124, 1);
    }
  }
}

// 카테고리 각 줄
.meeting_block {
  margin: 0 24px 12px 12px;
  display: flex;
  width: 100vw;
  min-height: 190px;
  max-height: 190px;
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-flow: column wrap;
  border-bottom: 1px solid rgba(225, 225, 225, 1);
}

::-webkit-scrollbar {
  display: none;
}

// 메인 nav부분
#egg_yellow {
  margin-top: 20px;
  z-index: 3px;
  position: fixed;
  left: calc(50vw - 40px);
  width: 80px;
  height: 80px;
  transition: linear 0.5s;
}

#egg_nav {
  width: 300px;
  height: 300px;
  z-index: 1;
  position: fixed;
  left: calc(50vw - 150px);
  transition: linear 0.3s;
}

.nav_back {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;

  img {
    position: fixed;
    z-index: 5;
    transition: linear 0.3s;
    width: 60px;
    left: calc(50vw - 30px);
  }

  div {
    position: fixed;
    z-index: 5;
    transition: linear 0.3s;
    font-weight: 700;
    font-size: 25px;
  }

  #meeting {
    left: calc(50vw - 28px);
  }

  #chat {
    transform: rotate(-65deg);
    left: calc(50vw - 130px);
  }

  #my {
    transform: rotate(65deg);
    left: calc(50vw + 85px);
  }
}

// 미팅 룸 컴포넌트
.room_component {
  width: 161px;
  height: auto;
  padding: 12px;
}

.meeting_room {
  padding: 8px 0 0 16px;
  width: 139px;
  height: 134px;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 240, 195, 1);
  margin: 0 0 24px 0;

  p {
    margin: 0;
  }

  .place {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    margin-bottom: 8px;
    color: rgba(255, 192, 0, 1);
  }

  .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    width: 120px;
    letter-spacing: 0em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 27px;
  }

  .soft {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    width: 120px;

    .total {
      float: right;
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
      letter-spacing: 0em;
      color: rgba(124, 124, 124, 1);
    }
  }

  .other {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    width: 120px;

    .total {
      float: right;
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
      letter-spacing: 0em;
      color: rgba(124, 124, 124, 1);
    }
  }
}

.meeting_room_full {
  width: 155px;
  height: 142px;
  color: white;
  background-color: rgba(255, 192, 0, 1);
  font-size: 25px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.game_room {
  padding: 8px 0 0 16px;
  width: 139px;
  height: 134px;
  border-radius: 16px;
  background-color: rgba(255, 240, 195, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0 0 24px 0;

  p {
    margin: 0;
  }

  .place {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    margin-bottom: 8px;
    color: rgba(255, 192, 0, 1);
  }

  .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    width: 120px;
    letter-spacing: 0em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 37px;
  }

  .cnt {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    width: 120px;

    span {
      float: right;
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
      letter-spacing: 0em;
      color: rgba(124, 124, 124, 1);
    }
  }
}

.empty_category {
  display: flex;
  height: 190px;
  justify-content: center;
  align-items: center;
  color: rgba(255, 192, 0, 1);
  font-size: 20px;
  font-weight: 700;
}

// 방 상세보기 모달같은거
@-webkit-keyframes moveup {
  0% {
    bottom: -450px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes moveup {
  0% {
    bottom: -450px;
  }

  100% {
    bottom: 0;
  }
}

.room_detail {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  left: 0;
  bottom: 0;

  .room_modal {
    position: fixed;
    width: 100vw;
    height: 450px;
    bottom: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: white;
    transition: linear 0.5s;

    animation: moveup 1s;
    -webkit-animation: moveup 1s;

    p {
      margin: 24px;
      font-size: 20px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0em;
    }
  }

  .title {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    width: 100vw;
    border-bottom: 1px solid rgba(214, 214, 214, 1);

    span {
      margin: 24px;
    }
  }

  .join_game {
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 192, 0, 1);
    font-weight: 700;
    width: 100vw;
    height: 62px;
    align-items: center;
    justify-content: center;
  }
}

// 게임 대기 방
.wait_game {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-weight: 700;

  .top {
    width: 100vw;
    display: flex;
    font-size: 20px;

    height: 24px;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
  }

  .info {
    font-size: 20px;
    margin-top: 20px;
  }

  .player-list {
    margin: 24px auto;
    width: 90%;
    // height: 210px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    justify-items: center;
    align-self: center;
  }

  .player {
    width: 80%;
    height: 100%;
    // margin: 0 24px;

    .player-profile {
      width: 100%;
      height: 70%;

      background: #ffefbd;
      border-radius: 30px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .profile-img {
      width: 80%;
      height: 80%;
      margin: 0;
    }

    .player-name {
      margin-top: 4px;
      width: 100%;
      // height: 20%;
    }
  }

  .ready {
    font-size: 1.2rem;
  }

  .ready-btn {
    width: 40%;
    height: 40px;

    background: #ffc000;
    box-shadow: 2px 2px 1px #000000;
    border-radius: 8px;
    border: none;

    font-size: 1.1rem;
    font-weight: 700;

    &:hover {
      background: #ffce3c;
    }
  }

  p {
    position: fixed;
    top: -10px;
    left: 16px;
    font-size: 24px;
  }

  img {
    width: 50px;
    height: 60px;
    margin-top: 80px;
    margin-right: 20px;
  }
}

// 게임방

.game_3s_back {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  font-size: 250px;
  font-weight: 700;
  color: rgba(255, 192, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.game {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 0;

  .timer {
    font-size: 4rem;
    font-weight: bold;
  }

  .game-content {
    font-size: 2rem;

    span {
      font-weight: bold;
      font-size: 2.5rem;
      text-decoration: underline;
    }
  }

  .wait_lgm {
    width: 40px;
  }

  .flip {
    transform: scaleX(-1);
    // transition: transform 0.5s ease;
    // transform: translateY(-30px);
  }
}

.game-result-back {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1;

  .game-result {
    position: absolute;
    left: 15vw;
    top: 20vh;
    width: 70vw;
    height: 70vh;
    border-radius: 0.5rem;
    background: white;
    display: grid;
    grid-template-rows: 0.8fr 1.3fr 0.7fr 3fr 1.2fr;
    place-items: center;
    z-index: 10000;

    .header {
      width: 100%;
      height: 50%;
      padding-bottom: 0.75rem;
      font-size: 1.5rem;
      font-weight: bold;
      border-bottom: rgba(0, 0, 0, 0.25) 1px solid;
    }

    .name {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .time {
      font-size: 1.25rem;
      font-weight: bold;
    }

    .result-table {
      width: 80%;
      height: 100%;
      overflow: scroll;
      background: #ffefbd;
      box-sizing: border-box;
      border: 0.5rem #ffc000 solid;
      box-shadow: 2px 2px 1px #000000;
      border-radius: 0.5rem;
      display: grid;
      grid-template-columns: 2fr 3fr 3fr;
      font-weight: 600;
    }

    .result-btn {
      width: 50%;
      height: 50%;

      background: #ffc000;
      box-shadow: 2px 2px 1px #000000;
      border-radius: 8px;
      border: none;
    }
  }
}
