.more_room {
    overflow: hidden;

    .more_top {
        display: flex;
    }

    #back {
        margin-left: 15px;
    }

    .text {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 16px;
        width: 100vw;
        height: auto;
        margin-right: 15px;
    }

    .room {
        width: 100vw;
        height: calc(100vh - 150px);
        overflow-y: scroll;
        overflow-x: hidden;
        border-bottom: rgba(0, 0, 0, 0.25) 1px solid;
        border-top: rgba(0, 0, 0, 0.25) 1px solid;

        .room_container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            place-items: center;

            .room:last-child {
                margin-bottom: 10px;
            }
        }

    }
}