.more_room {
    overflow: hidden;
}

.text {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 16px;
}

.back {
    text-align: left;
    margin: 10px 0 0 16px;
}

.room {
    width: 100vw;
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    overflow-y: scroll;
    border-bottom: rgba(0, 0, 0, 0.25) 1px solid;
    border-top: rgba(0, 0, 0, 0.25) 1px solid;

}