.my {
    height: calc(100vh - 40px);

    #back {
        position: fixed;
        left: 24px;
        top: 24px;
        margin: 0;
    }
}

.my>#logo {
    width: 129px;
    margin-top: 50px;
}

.my_logo>p {
    font-size: 24px;
    font-weight: bolder;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 0;
}

#profile {
    width: 150px;
    margin-left: 30px;
}

#plus {
    width: 30px;
    height: 30px;
}

#nick {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 60px;
}

#egg_cnt {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: center;
}

#eggs {

    img {
        margin-top: 30px;
    }

    #fri {
        width: 55px;
    }

    #main_egg {
        width: 20px;
        margin: 30px 3px 0 3px;
    }
}