.category-select-box {
  .category-label {
    text-align: center;
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: bold;
    color: #ff8400;
  }

  .category-select-boxs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    color: #ff8400;

    .bet {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .select-box {
      height: 13vh;
      background: #fff2cb;
      box-shadow: 2px 2px 1px #7c7c7c;
      border-radius: 0.5rem;
      display: grid;
      align-items: center;

      transition: 0.2s ease-in-out;

      .title {
        font-size: 1.2rem;
        font-weight: bold;
      }

      .content {
        margin: 0 0.5rem;
        font-size: 0.7rem;
        color: #000;
      }

      &#select {
        background: #ffc000;
        color: #fff;

        .content {
          display: none;
        }
      }
    }
  }
}